div {
    height: 100px;
    width: 100px;
    background-color: burlywood;
    position: relative;
    /* animation-name: colorchanges;
    animation-duration: 9s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-fill-mode: backwards; */
   animation: colorchanges 8s  linear 1 forwards ;
}
#ease {
    animation-timing-function: ease;
}
#ease-in {
    animation-timing-function: ease-in;
}
#ease-out {
    animation-timing-function: ease-out;
}
#ease-in-out {
    animation-timing-function: ease-in-out;
}

@keyframes colorchanges{
    0% {
        background-color: red;
        top: 0px;
        left: 0px;
    }
    25% {
        background-color: yellow;
        top: 0px;
        left: 200px;
    }
    50% {
        background-color: blue;
        top: 200px;
        left: 200px;
    }
    75% {
        background-color: aqua;
        top: 200px;
        right: 0px;
    }
    100% {
        background-color: blueviolet;
        top: 0px;
        left: 0px;
    }
}