h1 {
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Fasthand', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}
.para {
    font-family: 'Delicious Handrawn', cursive;
font-family: 'Fasthand', cursive;
font-family: 'Noto Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Permanent Marker', cursive;
color: crimson;
background-color: aquamarine;

}


.pointer {
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Fasthand', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    color: aqua;
    
}