.container {
    font-size: 25px;
    color: brown;
    background-color: azure;
    border: 3px solid black;
}
.para {
    font-size: 25px;
    color: blue;
    background-color: azure;
    text-decoration: wavy;
}
.point {
    font-size: 25px;
    color: green;
    background-color: azure;
    border: 3px dotted black;
    text-align: center;
    text-decoration: double;
}